<main class="container mx-auto py-10">
  <section class="grid grid-cols-12 items-center">
    <div class="col-span-6">
      <span class="text-rose-400 text-4xl font-black uppercase items-center">
        Pautas<span class="text-rose-50 font-light">.com</span>
      </span>
    </div>
    <div class="col-span-6">
      @if (checkLoggedUser()) {
        <div class="flex justify-end items-center">
          <app-base-link name="Pautas em votação" url="/voting"></app-base-link>
          <app-base-link name="Cadastrar eleitores" url="/register/voters"></app-base-link>
        </div>
      }
    </div>
  </section>
</main>
