<section class="bg-rose-400 grid grid-cols-12 py-6 px-6 shadow-rose-400 shadow-md rounded-lg">
  <div class="col-span-6">
    <div class="grid grid-cols-12">
      <div class="col-span-12 px-4 py-2">
        <span class="text-rose-50 font-light">
          <span class="text-rose-50 font-bold">Nome:</span> João das Couves
        </span>
      </div>

      <div class="col-span-12 px-4 py-2">
        <span class="text-rose-50 font-light">
          <span class="text-rose-50 font-bold">E-mail:</span> j.couves&#64;teste.com.br
        </span>
      </div>

      <div class="col-span-12 px-4 py-2">
        <span class="text-rose-50 font-light">
          <span class="text-rose-50 font-bold">Telefone:</span> +5511912345678
        </span>
      </div>
    </div>
  </div>
</section>
